
#nitrogen --restore &

#feh --bg-scale /Pictures/Wallpapers/macos_nordified.jpg &
feh --no-fehbg --bg-scale '/home/adorigo/Pictures/Wallpapers/macos_nordified.jpg' &

picom --experimental-backend --vsync &

redshift &
#redshift -l 45.3876:11.7923

sleep 1 && xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Tapping Enabled" 1 &
xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Natural Scrolling Enabled" 1 & 

#discord --start-minimized &

#bluetoothctl power on &
