[
  {
    title: "Kafka-EAI"
    paths: [
      "~/Projects/kafka-EAI"
    ]
    icon: "icon-mortar-board"
    color: "#ffc938"
  }
  {
    title: "Dotfiles"
    paths: [
      "~/.dotfiles"
      "~/.config/qutebrowser"
      "~/.config/xmobar"
      "~/.xmonad"
      "~/.atom"
      "~/.config/redshift"
    ]
    icon: "icon-gear"
    color: "#db83ed"
  }
  {
    title: "Tesi di Laurea"
    paths: [
      "/home/adorigo/Projects/tesi-di-laurea"
    ]
    icon: "icon-mortar-board"
    color: "#970215"
  }
    {
      title: "SITA-APOC"
      paths: [
        "/home/adorigo/Projects/sita-apoc"
      ]
      icon: "icon-rocket"
      color: "#0095DA"
    }
]
