/* html > body {
 zoom: 80%;
} */

/* DUCKDUCKGO */
body > div.footer > div.footer__left > div > a, body.body--home, .site-wrapper, .region__body, .badge-link, .module--carousel__image-wrapper, .result__image, .vertical--map__sidebar, .vertical--map__sidebar__header, .page-chrome_newtab, .zci--type--tiles:not(.is-fallback).is-full-page.is-expanded, .zci--type--tiles:not(.is-fallback).is-full-page.is-expanded .metabar:not(.is-stuck)  {
 background-color: #282c34;
}

#rld-1, #rld-2 > a, #rld-1 > a, .module:not(.module--carousel):not(.module--placeholder):not(.module--images):not(.module--translations), .modal--popout .modal__box, .modal__box, .sidebar-modules .module, .results--main .result:not(.result--ad).highlight, .module .module--carousel__item, .user-loc-cta, .address-detail, .modal--dropdown.modal--popout .modal__box, .tile--info, .place-detail, .badge-link, .is-atb-fullbleed .content-info__item, .atb-banner__bottom, .multi-step-mobile-onboarding__step__content, .is-mobile .results_links_deep, .is-mobile .results_links, .is-mobile .result--news, .is-mobile .related-searches, .most-visited__info-tt, .user-loc-tooltip , #links_wrapper > div.results--main > div.search-filters-wrap > div > div.dropdown.dropdown--region.is-active.has-inactive-region > div, .search--home, .search--header , .module--translations .dropdown--translation-select, .module--translations .module--translations-translatedtext, .module--translations .module--translations-length {
 background-color: #393f4a;
}
#search_form_homepage > div.search__autocomplete > div.acp-wrap.js-acp-wrap , div#header_wrapper.header-wrap, .header-wrap, .vertical--map--sidebar-left .vertical--map__sidebar__header, .vertical--map--sidebar-left .has-requery .vertical--map__sidebar__header, .vertical--map__sidebar__header--mobile, .map-requery-mobile, .footer, .footer--mobile  {
 background-color: #21252b;
}

#search_form_homepage > div.search__autocomplete > div.acp-wrap.js-acp-wrap > div.acp.acp--highlight {
 background-color: #646e82;
}

.search__button:hover, .search__button:focus, .search--hover .search__button, .search--hover .search__button:focus, .search--header.has-text.search--hover .search__button, .search--header.has-text.search--focus .search__button, .search--header.has-text.search--hover .search__button:hover, .search--header.has-text.search--focus .search__button:hover, .search--home.has-text .search__button, .search--home.has-text .search__button:focus, .search--home.has-text .search__button:hover {
 background-color: #393f4a;
}

#web_content_wrapper > div.serp__bottom-right.js-serp-bottom-right > div > div > a , .results-ads, #ads,
body.body--serp .results--sidebar, div.search-filters-wrap::after, div.search-filters-wrap::before {
 display: none;
}
body.body--serp #header-wrapper,
body.body--serp #header {
 text-align:center;
}
body.body--serp #header {
 width: 100%;
}
body.body--serp .header__search-wrap,
body.body--serp #duckbar,
body.body--serp .results--main  {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
body.body--serp .cw {
  max-width: 100%;
}
body.body--serp #links_wrapper {
  padding-left: 0;
}
body.body--serp .footer {
  text-align: center;
  padding-left: 0;
}
/* HASKELL WIKI */
body.js-enabled {
  background-color: #999;
}
